<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="Log/SysNlog.lo">
  <variable name="layout" value="${newline}|date：	${longdate}${newline}|level：	${level}${newline}|logger：	${logger}${newline}|machinename：	${machinename}
${newline}|message：	${message}${newline}|appdomain：	${appdomain}${newline}|assembly-version：	${assembly-version}${newline}|basedir：	${basedir}
${newline}|callsite：	${callsite}${newline}|callsite-linenumber：	${callsite-linenumber}${newline}|counter：	${counter}${newline}|nlogdir：	${nlogdir}
${newline}|processid：	${processid}${newline}|processname：	${processname}|specialfolder：	${specialfolder}
${newline}|stacktrace: ${stacktrace}${newline}|-----------------------------------------------------------" />
  <variable name="smalllayout" value="${newline}|time：	${longdate}${newline}|level：	${level}${newline}|application：MySystem${newline}|traceId：	${aspnet-TraceIdentifier}${newline}|eventId：	${event-properties:EventId}${newline}|user：	${aspnet-user-identity}${newline}|category：	${logger}${newline}|message：	${message}
${newline}|properties：	${all-event-properties:separator=#}${newline}|exception：	${exception:tostring}${newline}|clientIP：	${aspnet-request-ip}
${newline}|stacktrace: ${stacktrace}${newline}|-----------------------------------------------------------" />
  <!-- define various log targets -->
  <targets>
    <!-- write logs to file -->
    <target xsi:type="File" name="allfile" fileName="../../../Log/all/nlog-all-${shortdate}.log" layout="${layout}" />
<!--${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}||-->
    <target xsi:type="File" name="ownFile-web" fileName="../../../Log/own/nlog-own-${shortdate}.log" layout="${smalllayout}" />
<!--<target name="database" xsi:type="Database" dbProvider="MySql.Data.MySqlClient.MySqlConnection, MySql.Data" connectionString="Data Source=127.0.0.1;DataBase=test;User ID=root;Password=123456;Charset=utf8;SslMode=none" commandType="StoredProcedure" commandText="SP_InsertLog" >--> 
    <target name="database" xsi:type="Database" dbProvider="MySql.Data.MySqlClient.MySqlConnection, MySql.Data" connectionString="${var:NLOG_CONNECTION_STRING}">
      <commandText>
        insert into log
        (Application, Logged, Level, Message,Logger, CallSite, Exception)
        values (@Application, @Logged, @Level, @Message,@Logger, @Callsite, @Exception);
      </commandText>
      <parameter name="@application" layout="MySystem" />
      <parameter name="@logged" layout="${date}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@logger" layout="${logger}" />
      <parameter name="@callSite" layout="${callsite:filename=true}" />
      <parameter name="@exception" layout="${exception:tostring}" />
    </target>

    <target xsi:type="Null" name="blackhole" />
  </targets>

  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="allfile" />
    <!--Skip Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <logger name="*" minlevel="Trace" writeTo="ownFile-web" />
    <!--保存到数据库的日志-->
    <logger name="*" minlevel="Info" writeTo="database" />
  </rules>
</nlog>